@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('./fonts/montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
      url('./fonts/montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: DB Adman X Bd;
  src: url("./fonts/db-adman/DB Adman X Bd.woff");
}

